@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <strong><p>To The Allen's Winery Cellar!</p></strong>
    <h2 class="display-5">About</h2>
    <p>
        Welcome to our family winery, since 1991 we were stomping grapes til our feet bled and became a part of our family tradition and continues         to grow today. To look at our list of wines, 
    </p>
    <p>
        Register <a href="https://localhost:44333/Identity/Account/Register">here</a> if you do not have an account
        <br />
        OR
        <br />
        Login <a href="https://localhost:44333/Identity/Account/Login">here</a> if you are registered.
        
        
    </p>
    <ul>
    <strong><li>
       For privacy information click</strong> <a href="https://localhost:44333/Home/Privacy">here</a>.
    </li></strong>
    <li>
       <strong>For help click</strong> <a href="https://localhost:44333/Home/Contact">here</a> <strong>to contact our customer services.
    </li></strong>
    </ul>
</div>
