@*
David Allen
12/15/22
Assignment 6
*@
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
Protecting your privacy is important to us. We hope the following statement will help you understand how we collect, use and safeguard the personal information you provide to us on our site.
</p>

<ul>
	<strong><li>I. What kind of information do we collect from you when you visit our site?</li></strong>

	<p>
		When you visit our site, our stats package from Google collects some basic information about your browser. Examples	are things like what		type of browser and operating system are you using; how long did you stay on our site; what pages did you look at. This	helps us				understand how visitors browse our site, so that we can make their shopping experience better. 
		<br />
		We also collect personal information about you when you check out of our store such as your name, address, postal code, phone number,			etc. We need this information to process payment and ship merchandise to you.
	</p>

	<strong><li>II. Sharing of personal information – we don’t do it.</li></strong>
	<p>
		Under no circumstances will we share any personal information that we collect with any third parties or web sites. All the information			you	give us is completely private and used solely for order processing and shipping. If you give us permission to send you marketing			emails then we use your email for that purpose, but never does that email get sold or distributed to any other web site or list.
	</p>

	<strong><li>III. Newsletter Opt-Out.</li></strong>
	<p>	
		If you have chosen to opt into our newsletter or marketing emails and decide to opt out, we have a simple unsubscribe form that will let		you get off our email list. Also, under the member area, you will find a simple form to unsubscribe.
	</p>

	<strong><li>IV. Consumer inquiries and privacy.</li></strong>
	<p>
		If you have any questions about your privacy, or want to make changes to your profile, or get off our marketing list, simply send us an			email.
	</p>

	<strong><li>V. Protecting your information.</li></strong>
	<p>
		All the payment information we collect is done so under SSL – a standard internet security measure. Any data that we store about you is			kept behind a secure firewall in our database and is not accessible to the public in any way.
	</p>
</ul>